@model OASample.MVC.Models.FooterModel

<div class="modal-footer">
    <button type="button" data-dismiss="modal"  class="btn btn-sm btn-secondary" id="@Model.CancelID">Cancel</button>
    <button type="submit" id="@Model.SubmitID" class="btn btn-sm btn-success">Submit</button>
</div>